.Header>h5 {
    display: inline-block;
}

.Header > .menu {
    display: inline-block;
    position: absolute;
    left: 2%;
    top: 1%;
}

.Header > .user-area {
    display: inline-block;
    position: absolute;
    right: 2%;
    top: 1%;
}